<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Resume Webpage | Abdulhakeem Almidan</title>
</head>
<body>
  
  <div class="u-space-between__reverse-stack full-horizontal">
    <div>
      <h1>Abdulhhakeem Almidan</h1>
      <div>
        <p>
          Hi, I’m Abdulhakeem. You can call Hakeem. I have experience building full-stack applications in many languages and
          frameworks. What I’ve learned
          over time is that the main mental challenge often lies in the logic behind what you are building, and not in the
          language/framework itself.
        </p>

        <p>
          Outside of work, I enjoy painting, playing volleyball, soccer, scuba diving, and hanging out with friends. I also
          enjoy
          reading about business and finance.
        </p>

        <p>
          I am currently looking for software engineering and finance positions and I would love to hear about your company!
        </p>
      </div>
    </div>
    <div class="personal-image-container">
      <img class="personal-image" src="./assets/Hakeem.png" alt="Image of Abdulhakeem Almdian">
    </div>
  </div>

  <br>

  <!-- WORK EXPERIENCE -->
  <div id="work-experience" class="full-horizontal">
    <h2>Work Experience</h2>
    <div v-for="pos in positions">
      <div>
        <b>
          {{ pos.title }}
        </b>
      </div>
      <div class="u-space-between__reverse-stack">
        <span>
          {{ pos.company }}
        </span>
        <span>
          {{ pos.timeFrame }}
        </span>
      </div>
      <ul style="margin-top: 0.5rem;">
        <li v-for="task in pos.tasks">
          {{ task }}
        </li>
      </ul>
    </div>
    <br>
  </div>
  
  <br>

  <!-- Education -->
  <div id="education" class="full-horizontal">
    <h2>Education</h2>
    <div class="u-space-between">
      <span v-for="unit in units">
        {{ unit }}
      </span>
    </div>
    <br>
  </div>

  <br>
  <hr>
  <!-- PROJECTS -->
  <div id="projects" class="full-horizontal">
    <h2>Projects</h2>
    <div v-for="(project, projIdx) in projects" :key="project.title - projIdx">
      <div>
        <img class="project-image" :src="project.image" alt="project image">
      </div>
      <span>
          <span class="u-space-between">
            <h4 style="margin: 0;">
              {{ project.title }}
            </h4>
            <span>
              <span v-if="project.links.live === 'N/A'">
                N/A
              </span>
              <a v-else :href="project.links.live">
                live
              </a>
              &nbsp; | &nbsp;
              <span v-if="project.links.doc === 'N/A'">
                N/A
              </span>
              <a v-else :href="project.links.doc">
                doc
              </a>
            </span>
          </span>
          <div>
            <div>
              <div>
                {{ project.description }}
              </div>

            </div>
            <ul>
              <li v-for="(highlight) in project.highlights" :key="highlight">
                {{ highlight }}
              </li>
            </ul>
            <span>
              <div>Technologies</span>
              <div>
                <b>Database: </b> {{ project.tech.database }}
                <!-- database -->
              </div>
              <div>
                <b>Backend: </b> {{ project.tech.backend }}
                <!-- backend -->
              </div>
              <div>
                <b>Frontend: </b> {{ project.tech.frontend }}
                <!-- frontend -->
              </div>
            </span>
          </div>
      </span>
    </div>
  </div>

  <!-- CONTACT -->

  <script src="main.js"></script>
</body>
</html>