<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Resume Webpage | Abdulhakeem Almidan</title>
</head>
<body>
  
  <div>
    <div>
      <h1>Abdulhhakeem Almidan</h1>
      <span>
        <p>
          Hi, I’m Abdulhakeem. You can call Hakeem. I have experience building full-stack applications in many languages and
          frameworks. What I’ve learned
          over time is that the main mental challenge often lies in the logic behind what you are building, and not in the
          language/framework itself.
        </p>

        <p>
          Outside of work, I enjoy painting, playing volleyball, soccer, scuba diving, and hanging out with friends. I also
          enjoy
          reading about business and finance.
        </p>

        <p>
          I am currently looking for software engineering and finance positions and I would love to hear about your company!
        </p>
      </span>
    </div>
    <img src="./assets/Hakeem.png" alt="Image of Abdulhakeem Almdian">
  </div>

  <br>
  <hr>
  <!-- WORK EXPERIENCE -->
  <div id="work-experience" class="full-width-container">
    <h3>Work Experience</h3>
    <div v-for="pos in positions">
      <div>
        <span>
          {{ pos.title }}
        </span>
      </div>
      <div>
        <span>
          {{ pos.company }}
        </span>
        <span>
          {{ pos.timeFrame }}
        </span>
      </div>
      <ul>
        <li v-for="task in pos.tasks">
          {{ task }}
        </li>
      </ul>
    </div>
  </div>
  
  <br>
  <hr>
  <!-- Education -->
  <div id="education" class="full-width-container education">
    <h3>Education</h3>
    <span v-for="unit in units">
      {{ unit }}
    </span>
  </div>

  <br>
  <hr>
  <!-- PROJECTS -->
  <div id="projects" class="full-width-container ">
    <h3>Projects</h3>
    <div>
      <img src="" alt="">
      <span>
          <h5>
            <!-- title -->
          </h5>
          <div>
            <div>
              <!-- description -->
            </div>
            <ul>
              <li>
                <!-- highlight -->
              </li>
            </ul>
            <span>
              <!-- tech used -->
              <span>
                <!-- database -->
              </span>
              <span>
                <!-- backend -->
              </span>
              <span>
                <!-- frontend -->
              </span>
            </span>
          </div>
      </span>
    </div>
  </div>

  <!-- CONTACT -->

  <script src="main.js"></script>
</body>
</html>