body {
  margin: 0;
}

// ------------------------------- imports ------------------------------- // 
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// ------------------------------- variables ------------------------------- //
$font-family: 'Lato', Helvetica, sans-serif;
$font-height: 1.5;
$color-sky-blue: #4d85bd;
$color-sky-blue-light: #f4f9ff;
$color-leafy-green: #7caa2d;
$color-leafy-green-light: #f9fbf6;

// ------------------------------- selectors ------------------------------- //
* {
  font-family: $font-family;
  line-height: $font-height;
}

.project-image {
  width: 15rem;
}

.full-horizontal {
  padding: 2rem 15vw;
  position: relative;
}

.personal-image {
  height: 20rem;
  border-radius: 50%;
  margin: 1rem 0 0 3rem;
}

.project-container {
  background-color: hsl(33, 100%, 48%);
  color: #fffce5;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;

  &__link {
    color: #fffce5;
  }
}

#work-experience {
  height: auto;
  overflow: hidden;
  transform-origin:top;
  background-color: $color-sky-blue;
  color: $color-sky-blue-light;
  animation: slide-right-to-left 2s, text-appear 4s;
}

#education {
  height: auto;
  overflow: hidden;
  transform-origin: top;
  background-color: $color-leafy-green;
  color: $color-leafy-green-light;
  animation: slide-left-to-right 2s, text-appear 4s;
}

#projects {
  height: auto;
  overflow: hidden;
  transform-origin: top;
  color: #f58700;
  background-color: #FFDF77;
  animation: slide-right-to-left 2s, text-appear 4s;
}

// ------------------------------- utilities ------------------------------- //
.u-space-between {
  display: flex;
  justify-content: space-between;

  &__reverse-stack {
      @extend .u-space-between;
  }
}

// ------------------------------- media queries ------------------------------- //
@media only screen and (max-width: 700px) {
  html {
    font-size: 85%;
  }

  .full-horizontal {
    padding: 2rem 5vw;
  }

  .u-space-between {
    flex-direction: column;

    &__reverse-stack {
      flex-direction: column-reverse;
    }
  }

  .personal-image-container {
    margin: auto;
  }

  .personal-image {
    margin: 0;
  }
}

// ------------------------------- animations ------------------------------- //
@keyframes slide-right-to-left {
  0% { 
    left: 100vw;
    border-radius: 3rem;
  }

  100% {
    left: 0vw;
    max-height: 2.7rem;
  }
}

@keyframes slide-left-to-right {
  0% { 
    right: 100vw;
    border-radius: 3rem;
  }

  100% {
    right: 0vw;
    max-height: 2.7rem;
  }
}

@keyframes text-appear {
  0% { 
    max-height: 2.7rem;
    color: transparent;
  }

  50% {
    max-height: 2.7rem;
  }

  70% {
    max-height: 120vh;
    color: transparent;
  }
}