* {
  font-family: sans-serif;
  line-height: 1.5; }

body {
  margin: 0; }

.project-image {
  width: 15rem; }

.full-horizontal {
  padding: 2rem 15vw;
  position: relative; }

.personal-image {
  height: 20rem;
  border-radius: 50%;
  margin: 1rem 0 0 3rem; }

.project-container {
  background-color: #f58700;
  color: #fffce5;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem; }
  .project-container__link {
    color: #fffce5; }

.online-presence-items-container {
  display: flex;
  justify-content: space-around;
  margin-top: 0.7rem; }

.online-presence-logo {
  height: 3rem; }

.link {
  opacity: 0.75;
  color: black; }
  @media (hover: hover) {
    .link:hover {
      opacity: 1.0; } }

#work-experience {
  height: auto;
  overflow: hidden;
  background-color: #4d85bd;
  color: #f4f9ff;
  animation: slide-right-to-left 2s, text-appear 4s; }

#education {
  height: auto;
  overflow: hidden;
  background-color: #7caa2d;
  color: #f9fbf6;
  animation: slide-left-to-right 2s, text-appear 4s; }

#projects {
  height: auto;
  overflow: hidden;
  color: #f58700;
  background-color: #FFDF77;
  animation: slide-right-to-left 2s, text-appear 4s; }

#contact {
  animation: opacity-appear 4s; }

.u-space-between, .u-space-between__reverse-stack {
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 85%; }
  .full-horizontal {
    padding: 2rem 5vw; }
  .u-space-between, .u-space-between__reverse-stack {
    flex-direction: column; }
    .u-space-between__reverse-stack {
      flex-direction: column-reverse; }
  .personal-image-container {
    margin: auto; }
  .personal-image {
    margin: 0; } }

@keyframes slide-right-to-left {
  0% {
    left: 100vw;
    border-radius: 3rem; }
  100% {
    left: 0vw;
    max-height: 2.7rem; } }

@keyframes slide-left-to-right {
  0% {
    right: 100vw;
    border-radius: 3rem; }
  100% {
    right: 0vw;
    max-height: 2.7rem; } }

@keyframes opacity-appear {
  0% {
    opacity: 0.0; }
  70% {
    opacity: 0.0; } }

@keyframes text-appear {
  0% {
    max-height: 2.7rem;
    color: transparent; }
  50% {
    max-height: 2.7rem; }
  70% {
    max-height: 120vh;
    color: transparent; } }
