@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
body {
  margin: 0; }

* {
  font-family: "Lato", Helvetica, sans-serif;
  line-height: 1.5; }

.project-image {
  width: 15rem; }

.full-horizontal {
  padding: 2rem 15vw;
  position: relative; }

.personal-image {
  height: 20rem;
  border-radius: 50%;
  margin: 1rem 0 0 3rem; }

#work-experience {
  height: auto;
  background-color: #4d85bd;
  color: #d0e7ff;
  animation: slide-right-to-left 2s, text-appear 4s; }

#education {
  height: auto;
  background-color: #7caa2d;
  color: #dff9b3;
  animation: slide-left-to-right 2s, text-appear 4s; }

.u-space-between {
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 85%; }
  .full-horizontal {
    padding: 2rem 5vw; }
  .u-space-between {
    flex-direction: column-reverse; }
  .personal-image-container {
    margin: auto; }
  .personal-image {
    margin: 0; } }

@keyframes slide-right-to-left {
  0% {
    left: 100vw;
    border-radius: 30%;
    transform: scaleY(0.1); }
  100% {
    transform: scaleY(1);
    height: max-content;
    left: 0vw; } }

@keyframes slide-left-to-right {
  0% {
    right: 100vw;
    border-radius: 30%;
    transform: scaleY(0.1); }
  100% {
    transform: scaleY(1);
    height: max-content;
    right: 0vw; } }

@keyframes text-appear {
  0% {
    color: transparent; }
  50% {
    color: transparent; } }
